@font-face {
  font-family: ahg;
  src: url("AlteHaasGroteskRegular.ttf");
}

@font-face {
  font-family: ahgb;
  src: url("AlteHaasGroteskBold.ttf");
}

@font-face {
  font-family: bui;
  src: url("Buran USSR.ttf");
}

body {
  -webkit-user-select: none;
  cursor: default;
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: bui;
  font-size: 24px;
  text-align: right;
  margin: 0px;
  margin-top: -3px;
  margin-right: 2px;
  margin-bottom: -5px;
  text-shadow: 0px 0px 6px #fff;
}

h2 {
  font-family: bui;
  text-align: right;
  font-size: 16px;
  margin: 0px;
  text-shadow: 0px 0px 6px #fff;
}

#title-bar {
  position: fixed;
  width: 1011px;
  margin-top: 0px;
  padding: 5px;
  padding-right: 8px;
  padding-bottom: -1px;
  -webkit-app-region: drag;
  background-color: #18457b;
  box-shadow: -240px 40px 200px -80px #c30061 inset;
  color: #fff;
}

#content {
  position: fixed;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 48px);
  bottom: 0px;
  background: -webkit-linear-gradient(top, #081526, #19000c);
}

#button-close {
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 24px;
  padding: 0px;
  text-align: center;
  background-color: #f00;
  position: fixed;
  top: 14px;
  left: 14px;
  -webkit-app-region: no-drag;
  border-radius: 10px;
  background: -webkit-linear-gradient(left, #ff004e, #ff3100);
  box-shadow: 0px 0px 6px -2px #f00;
  transition: .2s ease-in-out;
  opacity: 0.8;
}

#button-close:hover {
  opacity: 1.0;
}
